fastapi==0.110.0
uvicorn==0.27.1
streamlit==1.32.2
requests==2.31.0
langchain==0.1.13
langchain-groq==0.1.2
langchain-community==0.0.29
langgraph==0.0.30
langchain-huggingface
faiss-cpu==1.8.0 --no-deps   # ya is line ko comment kar do
scikit-learn
joblib
pydantic